<style>
 body{
    height:100vh;
    background-image: url('<%= asset_path('event.jpg') %>');
    background-size: cover;
  background-position: center;
  background-attachment: fixed;

  }


</style>
<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
